a h1 h2 h3 p h label {
	color: black;
}


* {
	color: black;
	font-family: "Roboto", sans-serif;
}

form {
	align: center;
}

form * {
	color: black;
}

label {
	color: black !important;
}

body {
	padding: 0px;
	background-color: white;
}

hr {
	margin: 0px;
}


.message {
	text-align: center;
	padding: 10px;
	background-color: #33c3f0;
	margin-top:0px;
	margin:0px;
}

.errorfield {
	text-align: center;
	background-color: #FA5555;
	border-radius: 5px;
}

/*
.post {
	background-color: white;
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	color: black;
}
*/
.post * {
	color: black;
}

 /* .headerfield {
	margin: 5px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	line-height: 50px;
}
*/
a.headerfield {
	margin-left: 20px;
	font-size: 20px;
	/* color: black; */
}

.btn {
	color: white;
}

img {
    max-width: 100%;
    height: auto;
}
