{% extends 'layout.html' %}
{% from 'macros.html' import render_avatar %}

{% block body %}
<div class='container'>
	{% if user %}
		<h3 style='margin-top: 5%'>{{ render_avatar(user.avatar) }}{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h3>
		<div class='row'>
			<p class='four columns'>Joined on {{ user.joined_at.strftime('%A, %B %d at %I:%M %p') }}</p>
			<p class='three columns'>Following: {{ user.relations.count() }}</p>
			<p class='three columns'>Followers: {{ user.relations_to.count() }}</p>
			{% if user != g.user._get_current_object() %}
				{% if user not in current_user.following() %}
					<a href='{{ url_for('follow', username=user.username) }}' class='two columns button'>Follow</a>
				{% else %}
					<a href='{{ url_for('unfollow', username=user.username) }}' class='two columns button'>Unfollow</a>
				{% endif %}
			{% endif %}
		</div>
		<p>Bio: {{ user.bio }}</p>
	{% endif %}
	{% if posts %}
        <h2>Posts</h2>
		{% for post in posts %}
			<div class='post'>
				<div class='row'>
					{% if not user %}
					<div class='one columns'>{{ render_avatar(post.user.avatar, '50') }}</div>
					<h3 class='six columns'><a href='{{ url_for('user_view', username=post.user.username) }}' style='text-decoration:none; color:black; float:left; text-align:left'>{{ post.user.username }}</a></h3>{% endif %}
					<h5 class='five columns' {% if not user %}style='text-align:right'{% endif %}>{{ post.created_at.strftime('%A, %B %d at %I:%M %p') }}</h3>
				</div>
				<div class='row'>
					<a href='{{ url_for('view_post', id=post.id) }}' class='twelve columns'>View Post</a>
				</div>
				<br>
				<div class='row'>
					<p style='twelve columns'>{{ post.data }}</p>
				</div>
				{% if post.comments %}
					<h5>Comments</h5>
					{% for comment in post.comments %}
						<div class=row style='margin: 5px'>
							<a href='{{ url_for('user_view', username=comment.user.username) }}' style='display:inline'>{{ comment.user.username }}</a>
							<h6 style='display:inline'>{{ comment.created_at.strftime('%A, %B %d at %I:%M %p') }}</h6>
							<p style='display:inline'>{{ comment.data }}</p>
						</div>
					{% endfor %}
				{% endif %}
				<div class='row'>
					<form method=POST action='/comment/{{ post.id }}'>
						<input type=text placeholder='Comment' name='comment'></input>
					</form>
				</div>
			</div>
		{% endfor %}
		{% if options %}
			<p>Currently showing 20 posts per page</p>
			<a href='/{{ page - 1 }}'> << Previous Page</a>
			{{ page }}
			<a href='/{{ page + 1 }}'>Next Page >></a>
		{% endif %}
	{% else %}
		{% if current_user.is_authenticated %}
			<h3>Nothing here!</h3>
			{% if options %}
				<p>Currently showing 20 posts per page</p>
				<a href='/{{ page - 1 }}'> << Previous Page</a>
				{{ page }}
				<a href='/{{ page + 1 }}'>Next Page >></a>
				<br>
				<br>
				<br>
			{% endif %}
		{% else %}
			<h3>Project Mango Melon</h3>
			<p>This project is a work in progress and will not be completed for a while. </p>
			<p>It is based on a project called TDIC created by Omar Elamri (eado), but has been modified with lots of different things. </p>
			<h4>New features: </h4>
			<ul>
				<li>Added "special password" feature</li>
				<li>Forced HTTPS using redirect</li>
				<li>Better top bar UI</li>
                <li>Ability to turn off email notifications</li>
			</ul>
		{% endif %}
	{% endif %}
</div>
{% endblock %}
