{% extends 'layout.html' %}

{% block body %}
<div class=container>
	<form method='POST' enctype='multipart/form-data'>
		<h3 style="color: black">Set bio (Up to 255 chars)</h3>
		<textarea name=bio style='width:100%' placeholder='Current bio: {{ g.user._get_current_object().bio }}'></textarea>
		<h3 style="color: black">Set avatar (Up to 3mb)</h3>
		<input type=file class=button name=avatar></input><br><br>
		<input type='submit' class='button-primary'></input>
	</form>
	<a href='{{ url_for('sign_in', action='delete_account') }}' class='button', style='background-color: red; color:white'>DELETE ACCOUNT</a>
	<p>Warning: This action cannot be reversed.</p>
</div>
{% endblock %}
